<ul>
  <li routerLinkActive="active-nav">
    <a routerLink="/newreceipt" (click)="changeCategory()" class="nav-link"
      >Novi račun</a
    >
  </li>
  <li routerLinkActive="active-nav">
    <a routerLink="/report" class="nav-link">Izvještaj</a>
  </li>
  <li routerLinkActive="active-nav">
    <a routerLink="/additem" class="nav-link">Dodaj artikal</a>
  </li>
  <li routerLinkActive="active-nav">
    <a routerLink="/newuser" class="nav-link">Dodaj korisnika</a>
  </li>
  <li class="logged-in">
    <h2>
      Prijavljeni ste kao: <span>{{ user }}</span>
    </h2>
  </li>
  <li class="log-out">
    <a (click)="logOut()" class="nav-link">Odjavi se</a>
  </li>
</ul>
<hr />
