form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
  height: 80%;
  justify-content: center;
}

input:focus {
  outline: none;
  background-color: #c5cae9;
  border: 2px solid #1d2a6b;
}

.input-element {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input-element label {
  margin-bottom: 0.6rem;
  font-size: 1.6rem;
}

label::before {
  content: "*";
  color: red;
}

button {
  margin-top: 2rem;
}

.lds-ring {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
