<form
  (ngSubmit)="onSubmit(f)"
  #f="ngForm"
  *ngIf="!successfulPost && !isPosting"
>
  <div class="input-element">
    <label for="name">Ime korisnika:</label>
    <input type="text" ngModel required name="name" />
  </div>
  <div class="input-element">
    <label for="email">E-mail adresa korisnika:</label>
    <input type="text" ngModel required email name="email" />
  </div>
  <div class="input-element">
    <label for="password">Password (minimalno 6 karaktera):</label>
    <input type="password" ngModel required minlength="6" name="password" />
  </div>

  <button type="submit" [disabled]="!f.valid">Dodaj korisnika</button>
</form>
<div class="lds-ring" *ngIf="isPosting && !successfulPost && !postError">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<div class="successful-post" *ngIf="successfulPost">
  <div class="successful-post-message">
    <h2>Korisnik je uspješno dodan u sistem</h2>
  </div>
</div>

<div class="fetch-error" *ngIf="postError">
  <div class="fetch-error-message">
    <h2>Ups! Nešto je krenulo po zlu.</h2>
    <h2>Molimo osvježite aplikaciju.</h2>
  </div>
</div>
