<div class="form-container">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="input-element">
      <label for="email">E-mail adresa korisnika:</label>
      <input type="text" ngModel required name="email" />
    </div>
    <div class="input-element">
      <label for="password">Password (minimalno 6 karaktera)::</label>
      <input type="password" ngModel required minlength="6" name="password" />
    </div>

    <button type="submit" [disabled]="!f.valid">Prijavi se</button>
  </form>
  <div class="fetch-error" *ngIf="postError">
    <div class="fetch-error-message">
      <h2>Pogrešna e-mail adresa ili lozinka</h2>
    </div>
  </div>
  <div class="default-login">
    <h3>Login:</h3>
    <p>E-mail: <span>amarhodzic996@gmail.com</span></p>
    <p>Password: <span>111111</span></p>
  </div>

  <div class="made-by">
    <h3>App made by: Amar Hodžić</h3>
    <a href="https://github.com/amarhodzic996">GitHub</a>
  </div>
</div>
