<form
  (ngSubmit)="onSubmit(f)"
  #f="ngForm"
  *ngIf="!successfulPost && !isPosting"
>
  <div class="input-element">
    <label for="name">Naziv artikla:</label>
    <input type="text" ngModel required name="name" />
  </div>
  <div class="input-element">
    <label for="price">Cijena (KM):</label>
    <input type="text" ngModel required name="price" />
  </div>
  <div class="input-element">
    <label for="image">URL fotografije:</label>
    <input type="text" ngModel required name="image" />
  </div>
  <div class="select-element">
    <select ngModel name="category" required>
      <option value="dishes" selected>Jela</option>
      <option value="nonAlcDrinks">Bezalkoholna pića</option>
      <option value="alcDrinks">Alkoholna pića</option>
    </select>
    <label for="category">Odaberi kategoriju</label>
  </div>
  <button type="submit" [disabled]="!f.valid">Dodaj artikal</button>
</form>

<div class="lds-ring" *ngIf="isPosting && !successfulPost && !postError">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<div class="successful-post" *ngIf="successfulPost">
  <div class="successful-post-message">
    <h2>Artikal je uspješno dodan u sistem</h2>
  </div>
</div>

<div class="fetch-error" *ngIf="postError">
  <div class="fetch-error-message">
    <h2>Ups! Nešto je krenulo po zlu.</h2>
    <h2>Molimo osvježite aplikaciju.</h2>
  </div>
</div>
