* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 1.5vh;
}

body {
  background: linear-gradient(to bottom right, #1d2a6b, #748ffc);
  height: 100vh;
}

button {
  background-color: #3647a3;
  padding: 1rem;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
  color: white;
  box-shadow: 2px 2px 5px 1px #666;
  transition: 1s;
  cursor: pointer;
  font-family: "Roboto", "sans-serif";
}

button:hover {
  transition: 0s;
}
button:active {
  transform: translateY(3px);
}

button:disabled {
  pointer-events: none;
  background-color: #53545c;
}

input {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 0.5rem;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #1d2a6b;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #1d2a6b transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
